<script type="text/javascript">
$(document).ready(function(){
  $("#example").treeview({});
  $("#example2").treeview({
		url: "<%= treeviews_get_dir_list_path %>"
  });
});
</script>

<h4>通常のツリービュー表示</h4>

<ul id="example" class="filetree">
	<li><span class="folder">Folder 1</span>
		<ul>
			<li><span class="file">Item 1.1</span></li>
		</ul>
	</li>
	<li><span class="folder">Folder 2</span>
		<ul>
			<li><span class="folder">Subfolder 2.1</span>
				<ul>
					<li><span class="file">File 2.1.1</span></li>
					<li><span class="file">File 2.1.2</span></li>
				</ul>
			</li>
			<li><span class="file">File 2.2</span></li>
		</ul>
	</li>
	<li class="closed"><span class="folder">Folder 3 (closed at start)</span>
		<ul>
			<li><span class="file">File 3.1</span></li>
		</ul>
	</li>
	<li><span class="file">File 4</span></li>
</ul>


<h4>sync させたツリービュー表示</h4>
<ul id="example2" class="filetree"></ul>
